/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e5cf;
    color: #333;
}

.container.body-content {
    /* Defina o tamanho da caixa */
    margin: auto; /* Centraliza a caixa horizontalmente */
    padding: 20px;
    /* Adiciona espaço interno */
   
    /* Defina o estilo de fundo */
    background-color: #f4f4f4; /* Exemplo de cor de fundo */

    /* Defina a borda */
    border: 1px solid #ddd; /* Exemplo de borda */
    box-sizing: border-box;
    /* Outras propriedades */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adiciona sombra */
    
    /* Garanta que o conteúdo fique acima do menu lateral */
    position: relative;
    z-index: 1000; /* Valor alto para garantir que fique acima do menu lateral */
    padding-left: 10px; /* Ajusta o padding interno */
        margin-right: 20px;
}
/* Estilos do menu lateral */
#sidebar {
    background-color: #ffeb99;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    transition: transform 0.3s ease, width 0.3s ease;
    transform: translateX(0);
    overflow-x: hidden;
    z-index: 999; /* Valor mais baixo que o container.body-content */
}

.menu_fixo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon {
    font-size: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 10px;
    display: none; /* Oculta o ícone em telas grandes */
}

.profile-name {
    display: inline; /* Mostra o nome em telas grandes */
}

.menu-items {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.menu-items li {
    margin-bottom: 20px;
}

.menu-items a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.menu-items a i {
    margin-right: 10px;
}

.menu-items a.active,
.menu-items a:hover {
    background-color: #ffc107;
}

.logout {
    margin-top: auto;
}

.logout a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    text-decoration: none;
    font-weight: bold;
    background-color: #ffcc66;
    color: #333;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.logout a:hover {
    background-color: #e6b800;
}

/* Estilo do botão de alternância removido */

.content {
    padding: 20px;
    transition: padding-left 0.3s ease;
}

@media (max-width: 768px) {
    #sidebar {
        width: 80px; /* Reduz a largura do menu em telas pequenas */
        transform: translateX(0); /* O menu estará sempre visível, mas estreito */
    }

    .container.body-content {
        margin-left: 100px; /* Ajusta a distância do menu estreito */
        max-width: calc(100% - 100px); /* Ajusta o tamanho máximo para não sobrepor o menu estreito */
 margin-right: 20px;

    }

    .profile-icon {
        display: inline; /* Mostra o ícone em telas pequenas */
    }

    .profile-name {
        display: none; /* Oculta o nome em telas pequenas */
    }

    .menu-items a {
        justify-content: center; /* Centraliza os ícones */
    }

    .menu-items a i {
        display: none; /* Esconde o ícone existente */
    }

    .menu-items a::before {
        content: attr(data-icon); /* Adiciona o ícone usando o atributo data-icon */
        font-family: 'Font Awesome 5 Free'; /* FontAwesome 5 */
        font-weight: 900;
        margin-right: 10px;
        font-size: 18px; /* Ajusta o tamanho do ícone conforme necessário */
    }

    .menu-items a span {
        display: none; /* Esconde o texto dos itens do menu */
    }
}

@media (min-width: 769px) {
    #sidebar {
        width: 250px; /* Largura completa do menu em telas grandes */
        transform: translateX(0); /* Mantém o menu visível em telas grandes */
    }

    .container.body-content {
        margin-left: 270px; /* Distância fixa do menu lateral */
        max-width: calc(100% - 270px); /* Ajusta o tamanho máximo para não sobrepor o menu lateral */
 margin-right: 20px;

    }

    .profile-icon {
        display: none; /* Oculta o ícone em telas grandes */
    }

    .profile-name {
        display: inline; /* Mostra o nome em telas grandes */
    }

    .menu-items a i {
        display: inline; /* Mostra o ícone em telas grandes */
    }

    .menu-items a::before {
        content: none; /* Remove o ícone em telas grandes */
    }

    .menu-items a span {
        display: inline; /* Mostra o texto dos itens do menu */
    }
}
